<head>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</head>


<%- include ('layout/navbar.ejs') %>
      <main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl">

            <!-- Navbar -->
            <%- include ('layout/header.ejs') %>
                  <div class="w-full px-6 py-6 mx-auto">
                        <div class="flex flex-wrap -mx-3">
                              <div class="flex-none w-full max-w-full px-3">
                                    <div
                                          class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
                                          <div
                                                class="p-6 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                                                <h6 class="dark:text-white">Project Management</h6>
                                          </div>
                                          <div class="justify-items-end p-6 ml-auto">
                                                <a class="inline-block w-20 px-8 py-2  text-xs font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-blue-500 border-0 rounded-lg shadow-md select-none bg-150 bg-x-25 hover:shadow-xs hover:-translate-y-px"
                                                      href="/admin/add-product">Add Product</a>
                                          </div>

                                          <div class="flex-auto px-0 pt-0 pb-2 w-full">
                                                <div class="p-0 overflow-x-auto px-5 w-full">
                                                      <table id="example"
                                                            class="items-center justify-center w-full mb-0 ml-5 align-top border-collapse dark:border-white/40 text-slate-500"
                                                            style="width:9-0% ;">
                                                            <thead class="align-bottom">
                                                                  <tr>
                                                                        <th
                                                                              class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                                                                              Product Title</th>
                                                                        <th
                                                                              class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                                                                              Price</th>
                                                                        <th
                                                                              class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                                                                              Offer Price</th>
                                                                        <th
                                                                              class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                                                                              Stock</th>
                                                                        <th
                                                                              class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                                                                              Category</th>
                                                                        <th
                                                                              class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                                                                              Color</th>
                                                                        <th
                                                                              class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                                                                              Sizes</th>
                                                                        <th
                                                                              class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                                                                              Edit
                                                                        </th>
                                                                  </tr>
                                                            </thead>
                                                            <tbody class="border-t">
                                                                  <% for( let i=0; i < product.length; i++ ) { %>
                                                                        <tr>
                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <div class="flex px-2 py-1">
                                                                                          <div>
                                                                                                <img src="   <%= product[i].images[0].Location
                                                                                                %>" class="inline-flex items-center justify-center mr-4 text-sm text-white transition-all duration-200 ease-in-out h-9 w-9 rounded-xl"
                                                                                                      alt="user1" />
                                                                                          </div>
                                                                                          <div
                                                                                                class="flex flex-col justify-center">
                                                                                                <h6
                                                                                                      class="mb-0 text-sm leading-normal dark:text-white">
                                                                                                      <%= product[i].Product_title
                                                                                                            %>
                                                                                                </h6>

                                                                                          </div>
                                                                                    </div>
                                                                              </td>

                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <p
                                                                                          class="mb-0 text-sm font-semibold leading-normal dark:text-white dark:opacity-60">
                                                                                          <%= product[i].Price.Retail_price
                                                                                                %>
                                                                                    </p>
                                                                              </td>
                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <p
                                                                                          class="mb-0 text-sm font-semibold leading-normal dark:text-white dark:opacity-60">
                                                                                          <%= product[i].Price.Offer_price
                                                                                                %>
                                                                                    </p>
                                                                              </td>
                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <span
                                                                                          class="text-xs font-semibold leading-tight dark:text-white dark:opacity-60">
                                                                                          <%= product[i].Product_quantity
                                                                                                %>
                                                                                    </span>
                                                                              </td>
                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <span
                                                                                          class="text-xs font-semibold leading-tight dark:text-white dark:opacity-60">
                                                                                          <%= product[i].Category.categoryName
                                                                                                %>
                                                                                    </span>
                                                                              </td>
                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <p
                                                                                          class="mb-0 text-sm font-semibold leading-normal dark:text-white dark:opacity-60">
                                                                                          <%= product[i].color %>
                                                                                    </p>
                                                                              </td>
                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <p
                                                                                          class="mb-0 text-sm font-semibold leading-normal dark:text-white dark:opacity-60">
                                                                                          <%= product[i].Size %>
                                                                                    </p>
                                                                              </td>
                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <a
                                                                                          href="/admin/editProduct/<%= product[i]._id %>">
                                                                                          <button type="submit"
                                                                                                class="btn btn-primary btn-sm">edit</button>
                                                                                    </a>


                                                                                    <button
                                                                                          onclick="deleteProduct('<%= product[i]._id %>')"
                                                                                          class="btn btn-danger btn-sm">Delete</button>

                                                                              </td>
                                                                        </tr>
                                                                        <% } %>

                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>
                                    </div>
                              </div>btn-primary btn-sm
                        </div>

                  </div>
      </main>


      <script>
            $(document).ready(function () {
                  $('#example').DataTable();
            });
      </script>


      <% if ( expressFlash.length> 0 ) { %>
            <script> Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: `<%= expressFlash %>`,
                        showConfirmButton: false,
                        timer: 1500
                  })</script>

            <% } %>




                  <script language="javascript" type="text/javascript"">
                        // ?????????????????????????????????axios
                        deleteProduct = async (id) => {
                              Swal.fire({
                                    title: 'Are you sure?',
                                    text: " You won't be able to revert this!", icon: 'warning', showCancelButton:
                                          true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, delete it!'
                              }).then((result) => {
                                    if (result.isConfirmed) {
                                          axios.delete("/admin/deleteproduct", { data: { id: id } }).then((e) => {
                                                if (e.data.response) {
                                                      Swal.fire(
                                                            {
                                                                  icon: 'success',
                                                                  title: 'Your file has been deleted.',
                                                                  showConfirmButton: false,
                                                                  timer: 3500
                                                            }
                                                      )
                                                      location.href = '/admin/Product';
                                                } else {
                                                      Swal.fire({
                                                            icon: 'error',
                                                            title: 'Oops...',
                                                            text: 'The category is already in use !'
                                                      })
                                                }
                                          })
                                    }
                              }).catch((err) => {
                                    console.log(err.message);
                              })
                        };

           






                  </script>