<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript"
      src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript"
      src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript"
      src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>





<%- include ('layout/navbar.ejs') %>
      <main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl">

            <!-- Navbar -->
            <%- include ('layout/header.ejs') %>
                  <div class="w-full px-6 py-6 mx-auto">
                        <div class="flex flex-wrap -mx-3">
                              <div class="flex-none w-full max-w-full px-3">
                                    <div
                                          class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
                                          <div
                                                class="p-6 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                                                <h6 class="dark:text-white">Order Management</h6>
                                          </div>
                                          <div class="flex-auto px-0 pt-0 pb-2 w-full mt-5">
                                                <div class="p-0 overflow-x-auto px-5 w-full">
                                                      <table id="example"
                                                            class="items-center justify-center w-full mb-0 ml-5 align-top border-collapse dark:border-white/40 text-slate-500 display nowrap"
                                                            style="width:90% ;padding-bottom: 45vh;">
                                                            <thead class="align-bottom">
                                                                  <tr>
                                                                        <th
                                                                              class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                                                                              Date</th>
                                                                        <th
                                                                              class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                                                                              Total Price</th>
                                                                        <th
                                                                              class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                                                                              Profit</th>
                                                                        <th
                                                                              class="px-6 py-3 font-semibold capitalize align-middle bg-transparent border-b border-solid shadow-none dark:border-white/40 dark:text-white tracking-none whitespace-nowrap">
                                                                              Order Count</th>
                                                                  </tr>
                                                            </thead>
                                                            <tbody class="border-t ">
                                                                  <% saleReport.forEach(report=> { %>
                                                                        <tr>
                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <h6
                                                                                          class="mb-0 text-sm leading-normal dark:text-white">
                                                                                          <%= report._id %>
                                                                                    </h6>
                                                                              </td>
                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <p
                                                                                          class="mb-0 text-sm font-semibold leading-normal dark:text-white dark:opacity-60">
                                                                                          <%= report.totalPrice %>
                                                                                    </p>
                                                                              </td>
                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <p
                                                                                          class="mb-0 text-sm font-semibold leading-normal dark:text-white dark:opacity-60">
                                                                                          ₹
                                                                                          <%=parseFloat(report.totalPrice
                                                                                                *5/100).toFixed(1)%>
                                                                                    </p>
                                                                              </td>
                                                                              <td
                                                                                    class="p-2 align-middle  border-b  whitespace-nowrap shadow-transparent">
                                                                                    <span
                                                                                          class="text-xs font-semibold  dark:text-white dark:opacity-60">
                                                                                          <%= report.count %>
                                                                                    </span>
                                                                              </td>
                                                                        </tr>
                                                                        <% }) %>
                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
      </main>


      <script>
            $(document).ready(function () {
                  $('#example').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                              'copy', 'csv', 'excel', 'pdf', 'print'
                        ]
                  });
            });
      </script>