<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="
  https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css
  
">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css"> -->

<%- include ('layout/navbar.ejs') %>

      <main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl">
            <!-- Navbar -->
            <%- include ('layout/header.ejs') %>

                  <div class="w-full px-6 py-6 mx-auto">
                        <!-- table 1 -->

                        <div class="flex flex-wrap -mx-3">
                              <div class="flex-none w-full max-w-full px-3">
                                    <div
                                          class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
                                          <div
                                                class="p-6 pb-0 mb-2 border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                                                <h6 class="dark:text-white">Users Management</h6>
                                          </div>
                                          <div class="flex-auto px-0 pt-0 pb-2 p-5">
                                                <div class="p-0 overflow-x-auto">
                                                      <table id="example"
                                                            class="items-center w-full mb-0 align-top border-collapse dark:border-white/40 text-slate-500 ">
                                                            <thead class="align-bottom">
                                                                  <tr>
                                                                        <th
                                                                              class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">
                                                                              User</th>
                                                                        <th
                                                                              class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">
                                                                              Email</th>
                                                                        <th
                                                                              class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">
                                                                              Phone</th>
                                                                        <th
                                                                              class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">
                                                                              Action</th>
                                                                        <th
                                                                              class="px-6 py-3 font-bold text-center uppercase align-middle bg-transparent border-b border-collapse shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70">
                                                                              View</th>

                                                                  </tr>
                                                            </thead>
                                                            <tbody>
                                                                  <% for( let i=0; i < user.length; i++ ) { %>
                                                                        <tr>
                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <div class="flex px-2 py-1">
                                                                                          <div>
                                                                                                <img src="/admin/assets1/img/team-2.jpg"
                                                                                                      class="inline-flex items-center justify-center mr-4 text-sm text-white transition-all duration-200 ease-in-out h-9 w-9 rounded-xl"
                                                                                                      alt="user1" />
                                                                                          </div>
                                                                                          <div
                                                                                                class="flex flex-col justify-center">
                                                                                                <h6
                                                                                                      class="mb-0 text-sm leading-normal dark:text-white">
                                                                                                      <%= user[i].Name
                                                                                                            %>
                                                                                                </h6>

                                                                                          </div>
                                                                                    </div>
                                                                              </td>
                                                                              <td
                                                                                    class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <p
                                                                                          class="mb-0 text-xs font-semibold leading-tight dark:text-white dark:opacity-80">
                                                                                          <%= user[i].Email %>
                                                                                    </p>

                                                                              </td>
                                                                              <td
                                                                                    class="p-2 text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <p
                                                                                          class="text-xs font-semibold leading-tight dark:text-white dark:opacity-80 ">
                                                                                          <%= user[i].Phone %>
                                                                                    </p>
                                                                              </td>

                                                                              <td
                                                                                    class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <% if ( user[i].Active==false) { %>
                                                                                          <a
                                                                                                href="/admin/userblock/<%= user[i]._id %> ">
                                                                                                <span
                                                                                                      class="bg-gradient-to-tl from-emerald-500 to-teal-400 px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">Block</span></a>


                                                                                          <% } else { %>
                                                                                                <a
                                                                                                      href="/admin/unblock/<%= user[i]._id %> "><span
                                                                                                            class="bg-danger px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">Unblock</span></a>

                                                                                                <% } %>

                                                                              </td>
                                                                              <td
                                                                                    class="p-2 text-center align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                                                                                    <button type="button"
                                                                                          class="btn  btn-light rounded-full"
                                                                                          data-bs-toggle="modal"
                                                                                          data-bs-target="#exampleModal">View</button>

                                                                              </td>

                                                                        </tr>
                                                                        <% } %>

                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>

                  </div>
                  <% for( let i=0; i < user.length; i++ ) { %>
                        <div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <div class="modal-dialog ">
                                    <div class="modal-content">
                                          <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body  ">
                                                <section class="">
                                                      <div class="container ">
                                                            <div
                                                                  class="row d-flex justify-content-center align-items-center h-100">
                                                                  <div class=" ">
                                                                        <div class="card" style="border-radius: 15px;">
                                                                              <div class="card-body p-4">
                                                                                    <div class="d-flex text-black">
                                                                                          <div class="flex-shrink-0">
                                                                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                                                                                      alt="Generic placeholder image"
                                                                                                      class="img-fluid"
                                                                                                      style="width: 180px; border-radius: 10px;">
                                                                                          </div>
                                                                                          <div class="flex-grow-1 ms-3">
                                                                                                <h5 class="mb-1">
                                                                                                      <%= user[i].Name
                                                                                                            %>
                                                                                                </h5>
                                                                                                <p class="mb-2 pb-1"
                                                                                                      style="color: #2b2a2a;">
                                                                                                      <%= user[i].Email
                                                                                                            %>
                                                                                                </p>
                                                                                                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                                                                                      style="background-color: #efefef;">
                                                                                                      <div>
                                                                                                            <p
                                                                                                                  class="small text-muted mb-1">
                                                                                                                  Orders
                                                                                                            </p>
                                                                                                            <p
                                                                                                                  class="mb-0">
                                                                                                                  41
                                                                                                            </p>
                                                                                                      </div>
                                                                                                      <div class="px-3">
                                                                                                            <p
                                                                                                                  class="small text-muted mb-1">
                                                                                                                  Review
                                                                                                            </p>
                                                                                                            <p
                                                                                                                  class="mb-0">
                                                                                                                  976
                                                                                                            </p>
                                                                                                      </div>
                                                                                                </div>
                                                                                                <div
                                                                                                      class="d-flex pt-1">

                                                                                                </div>
                                                                                          </div>
                                                                                    </div>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </section>
                                          </div>

                                          <div class="modal-footer">
                                                <% if ( user[i].Active==true) { %>

                                                      <a href="/admin/userblock/<%= user[i]._id %> "><button type="submit" value="Submit"
                                                                  class="btn btn-outline-primary me-1 flex-grow-1">Block</button></a>

                                                      <% } else { %>

                                                            <a href="/admin/unblock/<%= user[i]._id %> "> <button type="submit" value="Submit"
                                                                        class="btn btn-outline-primary me-1 flex-grow-1">Unblock</button></a>


                                                            <% } %>

                                          </div>

                                    </div>
                              </div>
                        </div>
                        <% } %>
      </main>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

      <script src="
https://code.jquery.com/jquery-3.5.1.js

"></script>
      <script src="
https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js
"></script>
      <script src="
https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js
"></script>



      <script>
            $(document).ready(function () {
                  $('#example').DataTable();
            });
      </script>