<%- include ('layout/navbar.ejs') %>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

      <section class="hero">
            <div class="hero__slider owl-carousel">
                  <div class="hero__items set-bg" data-setbg="<%= banner[0].Image %> ">
                        <div class="container">
                              <div class="row">
                                    <div class="col-xl-5 col-lg-7 col-md-8">
                                          <div class="hero__text">
                                                <h6>
                                                      <%= banner[0].Category %>
                                                </h6>
                                                <h2>
                                                      <%= banner[0].Title %>
                                                </h2>
                                                <p>
                                                      <%= banner[0].Message %>
                                                </p>
                                                <a href="/product" class="primary-btn">Shop now <span
                                                            class="arrow_right"></span></a>
                                                <div class="hero__social">
                                                      <a href="#"><i class="fa fa-facebook"></i></a>
                                                      <a href="#"><i class="fa fa-twitter"></i></a>
                                                      <a href="#"><i class="fa fa-pinterest"></i></a>
                                                      <a href="#"><i class="fa fa-instagram"></i></a>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="hero__items set-bg" data-setbg="<%= banner[1].Image %>">
                        <div class="container">
                              <div class="row">
                                    <div class="col-xl-5 col-lg-7 col-md-8">
                                          <div class="hero__text">
                                                <h6>
                                                      <%= banner[1].Category %>
                                                </h6>
                                                <h2>
                                                      <%= banner[1].Title %>
                                                </h2>
                                                <p>
                                                      <%= banner[1].Message %>
                                                </p>
                                                <a href="/product" class="primary-btn">Shop now <span
                                                            class="arrow_right"></span></a>
                                                <div class="hero__social">
                                                      <a href="#"><i class="fa fa-facebook"></i></a>
                                                      <a href="#"><i class="fa fa-twitter"></i></a>
                                                      <a href="#"><i class="fa fa-pinterest"></i></a>
                                                      <a href="#"><i class="fa fa-instagram"></i></a>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <section class="banner spad">
            <div class="container">
                  <div class="row">
                        <div class="col-lg-7 offset-lg-4">
                              <div class="banner__item">
                                    <div class="banner__item__pic">
                                          <img src="/user/assets/img/banner/banner-1.jpg" alt="">
                                    </div>
                                    <div class="banner__item__text">
                                          <h2>Clothing Collections 2030</h2>
                                          <a href="#">Shop now</a>
                                    </div>
                              </div>
                        </div>
                        <div class="col-lg-5">
                              <div class="banner__item banner__item--middle">
                                    <div class="banner__item__pic">
                                          <img src="/user/assets/img/banner/banner-2.jpg" alt="">
                                    </div>
                                    <div class="banner__item__text">
                                          <h2>Accessories</h2>
                                          <a href="#">Shop now</a>
                                    </div>
                              </div>
                        </div>
                        <div class="col-lg-7">
                              <div class="banner__item banner__item--last">
                                    <div class="banner__item__pic">
                                          <img src="/user/assets/img/banner/banner-3.jpg" alt="">
                                    </div>
                                    <div class="banner__item__text">
                                          <h2>Shoes Spring 2030</h2>
                                          <a href="#">Shop now</a>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <section class="product spad">
            <div class="container">
                  <div class="row">
                        <div class="col-lg-12">
                              <ul class="filter__controls">

                                    <li data-filter=".new-arrivals">New Arrivals</li>
                                    <li data-filter=".hot-sales">Hot Sales</li>
                              </ul>
                        </div>
                  </div>
                  <div class="row product__filter">
                        <% for( let i=0; i < product.length; i++ ) { %>
                              <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                                    <div class="product__item">
                                          <a href="/productdetail/<%= product[i]._id %> ">
                                                <div class="product__item__pic set-bg" data-setbg=" ">
                                                      <img src="<%= product[i].images[0].Location %>" alt="">
                                                      <span class="label">New</span>

                                                      <ul class="product__hover">
                                                            <% if (user) { %>
                                                                  <li id="wishlistButton<%= product[i]._id %>">
                                                                        <a
                                                                              onclick="addToWishlist('<%= product[i]._id %>')">
                                                                              <i class="bi bi-heart"></i>
                                                                        </a>
                                                                  </li>
                                                                  <% } %>
                                                      </ul>
                                                </div>
                                          </a>

                                          <div class="product__item__text">
                                                <h6>
                                                      <%= product[i].Product_title %>
                                                </h6>
                                                <div class="rating">
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="flex">
                                                      <del><span class=" ">₹<%= product[i].Price.Retail_price %>
                                                            </span></del>
                                                      <h5 class="ml-2">₹<%= product[i].Price.Offer_price %>
                                                      </h5>
                                                </div>

                                                <div class="product__color__select">
                                                      <label for="pc-4">
                                                            <input type="radio" id="pc-4">
                                                      </label>
                                                      <label class="active black" for="pc-5">
                                                            <input type="radio" id="pc-5">
                                                      </label>
                                                      <label class="grey" for="pc-6">
                                                            <input type="radio" id="pc-6">
                                                      </label>
                                                </div>

                                          </div>
                                          <% if (user) { %>
                                                <a onclick="addCart(`<%= product[i]._id %>`)"
                                                      class="add-cart text-danger">+
                                                      Add To
                                                      Cart</a>
                                                <% } %>
                                    </div>
                              </div>
                              <% } %>
                                    <% for( let i=0; i < secondProduct.length; i++ ) { %>
                                          <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                                                <div class="product__item">
                                                      <a href="/productdetail/<%= secondProduct[i]._id %> ">
                                                            <div class="product__item__pic set-bg" data-setbg=" ">
                                                                  <img src="<%= secondProduct[i].images[0].Location %>"
                                                                        alt="">

                                                                  <ul class="product__hover">
                                                                        <% if (user) { %>
                                                                              <li
                                                                                    id="wishlistButton<%= secondProduct[i]._id %>">
                                                                                    <a
                                                                                          onclick="addToWishlist('<%= secondProduct[i]._id %>')">
                                                                                          <i class="bi bi-heart"></i>
                                                                                    </a>
                                                                              </li>
                                                                              <% } %>
                                                                  </ul>
                                                            </div>
                                                      </a>

                                                      <div class="product__item__text">
                                                            <h6>
                                                                  <%= secondProduct[i].Product_title %>
                                                            </h6>
                                                            <div class="rating">
                                                                  <i class="fa fa-star-o"></i>
                                                                  <i class="fa fa-star-o"></i>
                                                                  <i class="fa fa-star-o"></i>
                                                                  <i class="fa fa-star-o"></i>
                                                                  <i class="fa fa-star-o"></i>
                                                            </div>
                                                            <div class="flex">
                                                                  <del><span class=" ">₹<%=
                                                                                    secondProduct[i].Price.Retail_price
                                                                                    %>
                                                                        </span></del>
                                                                  <h5 class="ml-2">₹<%=
                                                                              secondProduct[i].Price.Offer_price %>
                                                                  </h5>
                                                            </div>

                                                            <div class="product__color__select">
                                                                  <label for="pc-4">
                                                                        <input type="radio" id="pc-4">
                                                                  </label>
                                                                  <label class="active black" for="pc-5">
                                                                        <input type="radio" id="pc-5">
                                                                  </label>
                                                                  <label class="grey" for="pc-6">
                                                                        <input type="radio" id="pc-6">
                                                                  </label>
                                                            </div>
                                                      </div>
                                                      <% if (user) { %>
                                                            <a onclick="addCart(`<%= product[i]._id %>`)"
                                                                  class="add-cart text-danger">+
                                                                  Add To
                                                                  Cart</a>
                                                            <% } %>
                                                </div>
                                          </div>
                                          <% } %>
                  </div>
            </div>
      </section>
      <section class="categories spad">
            <div class="container">
                  <div class="row">
                        <div class="col-lg-3">
                              <div class="categories__text">
                                    <h2>Clothings Hot <br /> <span>Shoe Collection</span> <br /> Accessories</h2>
                              </div>
                        </div>
                        <div class="col-lg-4">
                              <div class="categories__hot__deal">
                                    <img src="/user/assets/img/product-sale.png" alt="">
                                    <div class="hot__deal__sticker">
                                          <span>Sale Of</span>
                                          <h5>$29.99</h5>
                                    </div>
                              </div>
                        </div>
                        <div class="col-lg-4 offset-lg-1">
                              <div class="categories__deal__countdown">
                                    <span>Deal Of The Week</span>
                                    <h2>Multi-pocket Chest Bag Black</h2>
                                    <div class="categories__deal__countdown__timer" id="countdown">
                                          <div class="cd-item">
                                                <span>3</span>
                                                <p>Days</p>
                                          </div>
                                          <div class="cd-item">
                                                <span>1</span>
                                                <p>Hours</p>
                                          </div>
                                          <div class="cd-item">
                                                <span>50</span>
                                                <p>Minutes</p>
                                          </div>
                                          <div class="cd-item">
                                                <span>18</span>
                                                <p>Seconds</p>
                                          </div>
                                    </div>
                                    <a href="#" class="primary-btn">Shop now</a>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <section class="instagram spad mb-5">
            <div class="container">
                  <div class="row">
                        <div class="col-lg-8">
                              <div class="instagram__pic">
                                    <div class="instagram__pic__item set-bg"
                                          data-setbg="/user/assets/img/instagram/instagram-1.jpg">
                                    </div>
                                    <div class="instagram__pic__item set-bg"
                                          data-setbg="/user/assets/img/instagram/instagram-2.jpg">
                                    </div>
                                    <div class="instagram__pic__item set-bg"
                                          data-setbg="/user/assets/img/instagram/instagram-3.jpg">
                                    </div>
                                    <div class="instagram__pic__item set-bg"
                                          data-setbg="/user/assets/img/instagram/instagram-4.jpg">
                                    </div>
                                    <div class="instagram__pic__item set-bg"
                                          data-setbg="/user/assets/img/instagram/instagram-5.jpg">
                                    </div>
                                    <div class="instagram__pic__item set-bg"
                                          data-setbg="/user/assets/img/instagram/instagram-6.jpg">
                                    </div>
                              </div>
                        </div>
                        <div class="col-lg-4">
                              <div class="instagram__text">
                                    <h2>Instagram</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                          incididunt ut
                                          labore et dolore magna aliqua.</p>
                                    <h3>#Male_Fashion</h3>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <!-- Instagram Section End -->


      <%- include ('layout/footer.ejs') %>

            <script>
                  const addToWishlist = (id) => {
                        axios.post("/addToCart", { id }).then((e) => {
                              if (e.data.response == true) {
                                    const Toast = Swal.mixin({
                                          toast: true,
                                          position: 'top-end',
                                          showConfirmButton: false,
                                          timer: 1000,
                                          timerProgressBar: true,
                                          didOpen: (toast) => {
                                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                                          }
                                    })
                                    Toast.fire({
                                          icon: 'success',
                                          title: 'Add to Wishlist',
                                    })
                                    document.getElementById("wishlistButton" + id).innerHTML = ` <a>
                                                                                          <i class="bi bi-heart-fill"></i>
                                                                                    </a>`
                              } else {
                                    const Toast = Swal.mixin({
                                          toast: true,
                                          position: 'top-end',
                                          showConfirmButton: false,
                                          timer: 1500,
                                          timerProgressBar: true,
                                          didOpen: (toast) => {
                                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                                          }
                                    })

                                    Toast.fire({
                                          icon: 'warning',
                                          title: 'Item Already Exist!',
                                    })
                              }

                        })
                  }
                  const addCart = (id) => {
                        axios.post("/addCart", { id: id }).then((e) => {
                              if (e.data.response) {
                                    const Toast = Swal.mixin({
                                          toast: true,
                                          position: 'top-end',
                                          showConfirmButton: false,
                                          timer: 1500,
                                          timerProgressBar: true,
                                          didOpen: (toast) => {
                                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                                          }
                                    })

                                    Toast.fire({
                                          icon: 'success',
                                          title: 'Item Added to cart',
                                    })
                              }
                        })

                  }
            </script>