<%- include ('layout/navbar.ejs') %>

  <script src="https://cdn.tailwindcss.com"></script>



  <div class="container-fluid">

    <div class="container">
      <!-- Title -->
      <div class="d-flex justify-content-between align-items-center py-3">
        <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #<%= order._id %>
        </h2>
      </div>

      <!-- Main content -->
      <div class="row">
        <div class="col-lg-8">
          <!-- Details -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3 d-flex justify-content-between">
                <div>
                  <span class="me-3">
                    <%= order.order_date %>
                  </span>
                  <span class="me-3">#<%= order._id %></span>
                  <span class="me-3 text-success">
                    <%= order.paymentDetails %>
                  </span>
                  <% if (order.deliveryStatus=="Pending" ) { %>
                    <span class="badge rounded-pill bg-info">Confirmed</span>
                    <% } else if (order.deliveryStatus=="Shipped" ) { %>
                      <span class="badge rounded-pill bg-info">SHIPPING</span>
                      <% } else if (order.deliveryStatus=="Delivered" ) { %>
                        <span class="badge rounded-pill bg-info">Delivered</span>
                        <% } else if (order.deliveryStatus=="Cancel" ) { %>
                          <span class="badge rounded-pill bg-warning">Cancel</span>
                          <% } %>
                </div>
                <div class="d-flex">
                  <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i>
                    <span class="text">Invoice</span></button>
                  <div class="dropdown">
                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <!-- <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <table class="table table-borderless">
                <tbody>
                  <% for( let i=0; i < order.orderItems.length; i++ ) { %>


                    <tr>
                      <td>
                        <div class="d-flex mb-2">
                          <div class="flex-shrink-0">
                            <img src=" <%= order.orderItems[i].product.images[0].Location %> " alt="" width="35"
                              class="img-fluid">
                          </div>
                          <div class="flex-lg-grow-1 ms-3">
                            <h6 class="small mb-0"><a href="#" class="text-reset">
                                <%=order.orderItems[i].product.Product_title %>
                              </a></h6>
                            <span class="small">Color:
                              <%=order.orderItems[i].product.color %>

                            </span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <%= order.orderItems[i].quantity %>
                      </td>
                      <td class="text-end">₹ <%= order.orderItems[i].total %>
                      </td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2">Subtotal</td>
                    <td class="text-end">₹ <%= order.totalPrice %>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td colspan="2">Shipping</td>
                    <td class="text-end">$20.00</td>
                  </tr> -->
                  <!-- <tr>
                    <td colspan="2">Discount (Code: NEWYEAR)</td>
                    <td class="text-danger text-end">-$10.00</td>
                  </tr> -->
                  <tr class="fw-bold">
                    <td colspan="2">TOTAL</td>
                    <td class="text-end">₹ <%= order.totalPrice %>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <!-- Payment -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <h3 class="h6">Payment Method</h3>
                  <p>Visa - <%= order.paymentDetails %> <br>
                      Total: ₹ <%= order.totalPrice %>
                        <% if (order.paymentDetails=="COD" ) { %>
                          <span class="badge bg-success rounded-pill ml-2">Cash On Delivery</span></p>
                  <% } else { %>
                    <span class="badge bg-success rounded-pill ml-2">Paid</span></p>

                    <% } %>
                </div>
                <div class="col-lg-6">
                  <h3 class="h6">Billing address</h3>
                  <address>
                    <strong>
                      <%= order.billingAddress[0].Firstname %>
                        <%= order.billingAddress[0].Lastname %>
                    </strong><br>
                    <%= order.billingAddress[0].address %><br>
                      <%= order.billingAddress[0].city %>, <%= order.billingAddress[0].pincode %><br>
                          <abbr title="Phone">Phone:</abbr>
                          <%= order.billingAddress[0].phone %><br>
                            <abbr title="Phone">Email:</abbr>
                            <%= order.billingAddress[0].email %>
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Customer Notes -->
          <!-- <div class="card mb-4">
            <div class="card-body">
              <h3 class="h6">Customer Notes</h3>
              <p>Sed enim, faucibus litora velit vestibulum habitasse. Cras lobortis cum sem aliquet mauris rutrum.
                Sollicitudin. Morbi, sem tellus vestibulum porttitor.</p>
            </div>
          </div> -->
          <div class="card mb-4">
            <!-- Shipping information -->
            <div class="card-body">
              <h1 class="h6 text-bold">Shipping Information</h1>
              <strong>FedEx</strong>
              <span><a href="#" class="text-decoration-underline" target="_blank"></a>
                <%= order._id %> <i class="bi bi-box-arrow-up-right"></i>
              </span>
              <hr>
              <h3 class="h6">Address</h3>
              <address>
                <strong>
                  <%= order.deliveryAddress[0].Firstname %>
                    <%= order.deliveryAddress[0].Lastname %>
                </strong><br>
                <%= order.deliveryAddress[0].address %><br>
                  <%= order.deliveryAddress[0].city %>, <%= order.deliveryAddress[0].pincode %><br>
                      <abbr title="Phone">Phone:</abbr>
                      <%= order.deliveryAddress[0].phone %><br>
                        <abbr title="Phone">Email:</abbr>
                        <%= order.deliveryAddress[0].email %>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>