<%- include ('layout/navbar.ejs') %>


      <section class="shop-details">

            <div class="product__details__pic bg-white">
                  <div class="container  ">
                        <!-- <div class="row">
                              <div class="col-lg-12">
                                    <div class="product__details__breadcrumb">
                                          <a href="/">Home</a>
                                          <a href="/productdetail">Shop</a>
                                          <span>Product Details</span>
                                    </div>
                              </div>
                        </div> -->
                        <div class="row">
                              <div class="col-lg-2 col-md-3 ">
                                    <ul class="nav nav-tabs" r>
                                          <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                                      <div class="product__thumb__pic set-bg"
                                                            data-setbg="<%= product.images[1].Location %> ">
                                                      </div>
                                                </a>
                                          </li>
                                          <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                                      <div class="product__thumb__pic set-bg"
                                                            data-setbg="<%= product.images[2].Location %>">
                                                      </div>
                                                </a>
                                          </li>
                                          <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                                      <div class="product__thumb__pic set-bg"
                                                            data-setbg="<%= product.images[3].Location %>">
                                                      </div>
                                                </a>
                                          </li>
                                          <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                                      <div class="product__thumb__pic set-bg"
                                                            data-setbg="<%= product.images[0].Location %>">

                                                      </div>
                                                </a>
                                          </li>
                                    </ul>
                              </div>
                              <div class="col-lg-5 col-md-3 ">
                                    <div class="tab-content ">
                                          <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                                <div class="product__details__pic__item">
                                                      <img src="<%= product.images[0].Location %>" "
                                                            alt="">
                                                </div>
                                          </div>
                                          <div class="tab-pane" id="tabs-2" role="tabpanel">
                                                <div class="product__details__pic__item">
                                                      <img src="<%= product.images[1].Location %> " alt="">
                                                </div>
                                          </div>
                                          <div class="tab-pane" id="tabs-3" role="tabpanel">
                                                <div class="product__details__pic__item">
                                                      <img src="<%= product.images[2].Location %> " alt="">
                                                </div>
                                          </div>
                                          <div class="tab-pane" id="tabs-4" role="tabpanel">
                                                <div class="product__details__pic__item">
                                                      <img src="<%= product.images[3].Location %> " alt="">

                                                </div>
                                          </div>
                                    </div>
                              </div>

                              <div class="col-lg-5 col-md-3  ">
                                    <div class=" d-flex justify-content-end ">
                                          <div class="product__details__text">
                                                <h4>
                                                      <%= product.Product_title %>
                                                </h4>
                                                <div class="rating">
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <span> - 5 Reviews</span>
                                                </div>
                                                <h3>₹ <%= product.Price.Offer_price%> <span>
                                                                  <%= product.Price.Retail_price%>
                                                            </span></h3>
                                                <p>
                                                      <%= product.Product_des%>
                                                </p>
                                                <div class="product__details__option">
                                                      <div class="product__details__option__size">
                                                            <span>Size:</span>

                                                            <% if (product.Size=="M" ) { %>

                                                                  <label for="xl">L
                                                                        <input disabled id="xl">
                                                                  </label>
                                                                  <label class="active" for="l">M
                                                                        <input disabled id="l">
                                                                  </label>
                                                                  <label for="sm">s
                                                                        <input disabled id="sm">
                                                                  </label>
                                                                  <% } else if (product.Size=="L" ) { %>
                                                                        <label class="active" for="xl">L
                                                                              <input type="radio" disabled id="xl">
                                                                        </label>
                                                                        <label for="l">M
                                                                              <input type="radio" disabled id="l">
                                                                        </label>
                                                                        <label for="sm">s
                                                                              <input type="radio" disabled id="sm">
                                                                        </label>

                                                                        <% } else if (product.Size=="S" ) { %>
                                                                              <label for="xl">L
                                                                                    <input type="radio" disabled
                                                                                          id="xl">
                                                                              </label>
                                                                              <label for="l">M
                                                                                    <input type="radio" disabled id="l">
                                                                              </label>
                                                                              <label class="active" for="sm">s
                                                                                    <input type="radio" disabled
                                                                                          id="sm">
                                                                              </label>
                                                                              <% } %>





                                                      </div>
                                                      <div class="product__details__option__color">
                                                            <span>Color:</span>
                                                            <% if (product.color=="Blue" ) { %>
                                                                  <label class="c-2" for="sp-2">
                                                                        <input type="radio" id="sp-2">
                                                                  </label>

                                                                  <% } else if (product.color=="Black" ) { %>
                                                                        <label class="c-1" for="sp-1">
                                                                              <input type="radio" id="sp-1">
                                                                        </label>

                                                                        <% } else if (product.color=="White" ) { %>
                                                                              <label class="c-3" for="sp-3">
                                                                                    <input type="radio" id="sp-3">
                                                                              </label>
                                                                              <% } %>

                                                      </div>
                                                </div>
                                                <div class="product__details__cart__option">
                                                      <div class="quantity">
                                                            <div class="pro-qty">
                                                                  <input type="text" value="1">
                                                            </div>
                                                      </div>
                                                      <a href="#" class="primary-btn">add to cart</a>
                                                </div>
                                                <div class="product__details__btns__option">
                                                      <a href="#"><i class="fa fa-heart"></i> add to
                                                            wishlist</a>
                                                </div>

                                          </div>
                                    </div>

                              </div>

                        </div>
                  </div>
            </div>
            <div class="container">
                  <div class="row">
                        <div class="col-lg-12">
                              <div class="">
                                    <ul class="nav nav-tabs" role="tablist">
                                          <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                                      role="tab">Description</a>
                                          </li>
                                          <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">Customer
                                                      Previews(5)</a>
                                          </li>

                                    </ul>
                                    <div class="tab-content">
                                          <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                                <div class="product__details__tab__content">

                                                      <div class="product__details__tab__content__item">
                                                            <h5>Products Infomation</h5>
                                                            <p>
                                                                  <%= product.Product_info %> .
                                                            </p>

                                                      </div>
                                                      <div class="product__details__tab__content__item">
                                                            <h5>Material used</h5>
                                                            <p>
                                                                  <%= product.Product_material %>.
                                                            </p>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="tab-pane" id="tabs-6" role="tabpanel">
                                                <div class="product__details__tab__content">
                                                      <div class="product__details__tab__content__item">
                                                            <h5>Products Infomation</h5>
                                                            <p>A Pocket PC is a handheld computer, which
                                                                  features
                                                                  many of the same
                                                                  capabilities as a modern PC. These handy
                                                                  little
                                                                  devices allow
                                                                  individuals to retrieve and store e-mail
                                                                  messages, create a contact
                                                                  file, coordinate appointments, surf the
                                                                  internet, exchange text messages
                                                                  and more. Every product that is labeled as
                                                                  a
                                                                  Pocket PC must be
                                                                  accompanied with specific software to
                                                                  operate
                                                                  the unit and must feature
                                                                  a touchscreen and touchpad.</p>
                                                            <p>As is the case with any new technology
                                                                  product, the
                                                                  cost of a Pocket PC
                                                                  was substantial during it’s early release.
                                                                  For
                                                                  approximately $700.00,
                                                                  consumers could purchase one of
                                                                  top-of-the-line
                                                                  Pocket PCs in 2003.
                                                                  These days, customers are finding that
                                                                  prices
                                                                  have become much more
                                                                  reasonable now that the newness is wearing
                                                                  off.
                                                                  For approximately
                                                                  $350.00, a new Pocket PC can now be
                                                                  purchased.
                                                            </p>
                                                      </div>
                                                      <div class="product__details__tab__content__item">
                                                            <h5>Material used</h5>
                                                            <p>Polyester is deemed lower quality due to its
                                                                  none
                                                                  natural quality’s. Made
                                                                  from synthetic materials, not natural like
                                                                  wool.
                                                                  Polyester suits become
                                                                  creased easily and are known for not being
                                                                  breathable. Polyester suits
                                                                  tend to have a shine to them compared to
                                                                  wool
                                                                  and cotton suits, this can
                                                                  make the suit look cheap. The texture of
                                                                  velvet
                                                                  is luxurious and
                                                                  breathable. Velvet is a great choice for
                                                                  dinner
                                                                  party jacket and can be
                                                                  worn all year round.</p>
                                                      </div>
                                                </div>
                                          </div>

                                    </div>
                              </div>
                        </div>
                  </div>
            </div>


      </section>
      <section class="related spad">
            <div class="container">
                  <div class="row">
                        <div class="col-lg-12">
                              <h3 class="related-title">Related Product</h3>
                        </div>
                  </div>

                  <div class="row">
                        <% for( let i=0; i < allProducts.length; i++ ) { %>

                              <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">


                                    <div class="product__item ">

                                          <a href="/productdetail/<%= allProducts[i]._id %> ">
                                                <div class="product__item__pic set-bg" data-setbg=" ">
                                                      <img src="<%= allProducts[i].images[0].Location %>" alt="">
                                                      <ul class="product__hover">
                                                            <li><a href="#"><img src="/user/assets/img/icon/heart.png"
                                                                              alt=""></a></li>
                                                            <!-- <li><a href="#"><img
                                                                              src="/user/assets/img/icon/compare.png"
                                                                              alt="">
                                                                        <span>Compare</span></a>
                                                            </li> -->
                                                            <li><a href="#"><img src="/user/assets/img/icon/search.png"
                                                                              alt=""></a></li>
                                                      </ul>
                                                </div>
                                          </a>
                                          <div class="product__item__text">
                                                <h6>
                                                      <%= allProducts[i].Product_title %>
                                                </h6>
                                                <div class="rating">
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                      <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="flex">
                                                      <del><span class=" ">₹<%= allProducts[i].Price.Retail_price %>
                                                            </span></del>
                                                      <h5 class="ml-2">₹<%= allProducts[i].Price.Offer_price %>
                                                      </h5>
                                                </div>

                                                <div class="product__color__select">
                                                      <label for="pc-4">
                                                            <input type="radio" id="pc-4">
                                                      </label>
                                                      <label class="active black" for="pc-5">
                                                            <input type="radio" id="pc-5">
                                                      </label>
                                                      <label class="grey" for="pc-6">
                                                            <input type="radio" id="pc-6">
                                                      </label>
                                                </div>

                                          </div>
                                          <a href="/cart" class="add-cart">+ Add To Cart</a>

                                    </div>
                              </div>
                              <% } %>

                  </div>

            </div>
      </section>
      <%- include ('layout/footer.ejs') %>