<%- include ('layout/navbar.ejs') %>
      <script src="/user/assets/js/wishlist.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
      <style>
            .cart-wrap {
                  padding: 40px 0;
                  padding-left: 20%;
                  padding-right: 20%;
                  font-family: 'Open Sans', sans-serif;
            }

            .main-heading {
                  font-size: 19px;
                  margin-bottom: 20px;
            }

            .table-wishlist table {
                  width: 100%;
            }

            .table-wishlist thead {
                  border-bottom: 1px solid #e5e5e5;
                  margin-bottom: 5px;
            }

            .table-wishlist thead tr th {
                  padding: 8px 0 18px;
                  color: #484848;
                  font-size: 15px;
                  font-weight: 400;
            }

            .table-wishlist tr td {
                  padding: 25px 0;
                  vertical-align: middle;
            }

            .table-wishlist tr td .img-product {
                  width: 72px;
                  float: left;
                  margin-left: 8px;
                  margin-right: 31px;
                  line-height: 63px;
            }

            .table-wishlist tr td .img-product img {
                  width: 100%;
            }

            .table-wishlist tr td .name-product {
                  font-size: 15px;
                  color: #484848;
                  padding-top: 8px;
                  line-height: 24px;
                  width: 50%;
            }

            .table-wishlist tr td.price {
                  font-weight: 600;
            }

            .table-wishlist tr td .quanlity {
                  position: relative;
            }

            .total {
                  font-size: 24px;
                  font-weight: 600;
                  color: #8660e9;
            }

            .display-flex {
                  display: flex;
            }

            .align-center {
                  align-items: center;
            }

            .round-black-btn {
                  border-radius: 25px;
                  background: #212529;
                  color: #fff;
                  padding: 5px 20px;
                  display: inline-block;
                  border: solid 2px #212529;
                  transition: all 0.5s ease-in-out 0s;
                  cursor: pointer;
                  font-size: 14px;
            }

            .round-black-btn:hover,
            .round-black-btn:focus {
                  background: transparent;
                  color: #40678f;
                  text-decoration: none;
            }

            .mb-10 {
                  margin-bottom: 10px !important;
            }

            .mt-30 {
                  margin-top: 30px !important;
            }

            .d-block {
                  display: block;
            }

            .custom-form label {
                  font-size: 14px;
                  line-height: 14px;
            }

            .pretty.p-default {
                  margin-bottom: 15px;
            }

            .pretty input:checked~.state.p-primary-o label:before,
            .pretty.p-toggle .state.p-primary-o label:before {
                  border-color: #8660e9;
            }

            .pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
                  background-color: #8660e9 !important;
            }

            .main-heading.border-b {
                  border-bottom: solid 1px #ededed;
                  padding-bottom: 15px;
                  margin-bottom: 20px !important;
            }

            .custom-form .pretty .state label {
                  padding-left: 6px;
            }

            .custom-form .pretty .state label:before {
                  top: 1px;
            }

            .custom-form .pretty .state label:after {
                  top: 1px;
            }

            .custom-form .form-control {
                  font-size: 14px;
                  height: 38px;
            }

            .custom-form .form-control:focus {
                  box-shadow: none;
            }

            .custom-form textarea.form-control {
                  height: auto;
            }

            .mt-40 {
                  margin-top: 40px !important;
            }

            .in-stock-box {
                  background: #0cc224;
                  font-size: 12px;
                  text-align: center;
                  border-radius: 25px;
                  padding: 4px 15px;
                  display: inline-block;
                  color: #fff;
            }

            .trash-icon {
                  font-size: 20px;
                  color: #212529;
            }
      </style>



      <body>

            <div class="cart-wrap ">
                  <div class="container">
                        <div class="row">
                              <div class="col-md-12">
                                    <div class="main-heading mb-10">My wishlist</div>
                                    <div class="table-wishlist">
                                          <% if (!wishlist) { %>
                                                <h3 class="mt-5">Your Wishlist is empty!</h3>
                                                <div class="row">
                                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                                            <div class="continue__btn mt-5">
                                                                  <a href="/product">Continue Shopping</a>
                                                            </div>
                                                      </div>
                                                </div>
                                                <% } else { %>
                                                      <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                            <thead>
                                                                  <tr>
                                                                        <th width="45%">Product Name</th>
                                                                        <th width="15%">Unit Price</th>
                                                                        <th width="15%">Stock Status</th>
                                                                        <th width="15%"></th>
                                                                        <th width="10%"></th>
                                                                  </tr>
                                                            </thead>
                                                            <tbody>

                                                                  <% for( let i=0; i < wishlist.wishlist.length; i++ ) {
                                                                        %>
                                                                        <tr>
                                                                              <td>
                                                                                    <div
                                                                                          class="display-flex align-center">
                                                                                          <div class="img-product">
                                                                                                <img src="<%= wishlist.wishlist[i].product.images[0].Location%>"
                                                                                                      alt=""
                                                                                                      class="mCS_img_loaded">
                                                                                          </div>
                                                                                          <div class="name-product">
                                                                                                <%= wishlist.wishlist[i].product.Product_title
                                                                                                      %>
                                                                                          </div>
                                                                                    </div>
                                                                              </td>
                                                                              <td width="15%" class="price">₹
                                                                                    <%=wishlist.wishlist[i].product.Price.Offer_price
                                                                                          %>
                                                                              </td>
                                                                              <td width="15%"><span
                                                                                          class="in-stock-box">In
                                                                                          Stock</span>
                                                                              </td>
                                                                              <td width="50%"><button
                                                                                          onclick="addtoCart(`<%= wishlist.wishlist[i].product._id %>`)"
                                                                                          class="round-black-btn small-btn">Add
                                                                                          to
                                                                                          Cart</button></td>
                                                                              <td width="10%" class="text-center"><a
                                                                                          href="#" class="trash-icon"><i
                                                                                                onclick="deleteProduct(`<%= wishlist.wishlist[i].product._id %>`)"
                                                                                                class="bi bi-trash"></i></a>
                                                                              </td>
                                                                        </tr>
                                                                        <% } %>

                                                            </tbody>
                                                      </table>
                                                      <% } %>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </body>