<div class="m-0 font-sans text-black antialiased font-normal  leading-default bg-gray-50 text-slate-500">
      <div class="absolute w-full bg-blue-500  min-h-75"></div>
      <!-- sidenav  -->
      <aside
            class="fixed inset-y-0 flex-wrap items-center justify-between block w-full p-0 my-4 overflow-y-auto antialiased transition-transform duration-200 -translate-x-full bg-white border-0 shadow-xl  max-w-64 ease-nav-brand z-990 xl:ml-6 rounded-2xl xl:left-0 xl:translate-x-0">
            <div class="h-19">
                  <i class="absolute top-0 right-0 p-4 opacity-50 cursor-pointer fas fa-times  text-slate-400 xl:hidden"
                        sidenav-close></i>
                  <a class="block px-8 py-6 m-0 text-sm whitespace-nowrap text-slate-700" href="/" target="_blank">
                        <img src="/admin/assets1/img/logo-ct-dark.png"
                              class="inline h-full max-w-full transition-all duration-200  ease-nav-brand max-h-8"
                              alt="main_logo" />
                        <img src="/admin/assets1/img/logo-ct.png"
                              class="hidden h-full max-w-full transition-all duration-200  ease-nav-brand max-h-8"
                              alt="main_logo" />
                        <span class="ml-1 font-semibold transition-all duration-200 ease-nav-brand">Scotch Dashboard
                              2</span>
                  </a>
            </div>

            <hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent " />

            <div class="items-center block w-auto max-h-screen overflow-auto h-sidenav  basis-full ">
                  <ul class="flex flex-col pl-0 mb-0">
                        <li class="mt-0.5 w-full">
                              <a class="py-2.7 <%= locals.Dashboard %>  py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors"
                                    href="/admin">
                                    <div
                                          class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center text-center xl:p-2.5">
                                          <i class="relative top-0 text-sm leading-normal text-blue-500 ni ni-tv-2"></i>
                                    </div>
                                    <span
                                          class="ml-1 duration-300 opacity-100 pointer-events-none ease ">Dashboard</span>
                              </a>
                        </li>

                        <li class="mt-0.5 w-full">
                              <a class="  <%=locals.User %> py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors"
                                    href="/admin/user">
                                    <div
                                          class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
                                          <i
                                                class="relative top-0 text-sm leading-normal text-orange-500 ni ni-calendar-grid-58"></i>
                                    </div>
                                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">User</span>
                              </a>
                        </li>

                        <li class="mt-0.5 w-full">
                              <a class="  <%=locals.Product %> py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors"
                                    href="/admin/Product">
                                    <div
                                          class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center fill-current stroke-0 text-center xl:p-2.5">
                                          <i
                                                class="relative top-0 text-sm leading-normal text-emerald-500 ni ni-credit-card"></i>
                                    </div>
                                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Product</span>
                              </a>
                        </li>
                        <li class="mt-0.5 w-full">
                              <a class="  <%=locals.Category %> py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors"
                                    href="/admin/category">
                                    <div
                                          class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
                                          <i class="relative top-0 text-sm leading-normal text-cyan-500 ni ni-app"></i>
                                    </div>
                                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Category</span>
                              </a>
                        </li>

                        <li class="mt-0.5 w-full">
                              <a class="  <%=locals.Orders %> py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors"
                                    href="/admin/order">
                                    <div
                                          class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
                                          <i class="relative top-0 text-sm leading-normal text-cyan-500 ni ni-app"></i>
                                    </div>
                                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Orders</span>
                              </a>
                        </li>

                        <li class="mt-0.5 w-full">
                              <a class="  <%=locals.Vochers %> py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors"
                                    href="/admin/coupon">
                                    <div
                                          class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
                                          <i
                                                class="relative top-0 text-sm leading-normal text-red-600 ni ni-world-2"></i>
                                    </div>
                                    <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Vochers</span>
                              </a>
                        </li>
                        <li class="mt-0.5 w-full">
                              <a class=" <%=locals.Banner %> py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors"
                                    href="/admin/bannerlist"">
                                          <div
                                          class=" mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center
                                    text-center xl:p-2.5">
                                    <i class="relative top-0 text-sm leading-normal text-blue-500 ni ni-tv-2"></i>
            </div>
            <span class="ml-1 duration-300 opacity-100 pointer-events-none ease ">Banner</span>
            </a>
            </li>
            <li class="w-full mt-4">
                  <h6 class="pl-6 ml-2 text-xs font-bold leading-tight uppercase dark:text-white opacity-60">
                        Account pages</h6>
            </li>
            <li class="mt-0.5 w-full">
                  <a class="<%=locals.Profile %> py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors"
                        href="#">
                        <div
                              class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
                              <i class="relative top-0 text-sm leading-normal text-slate-700 ni ni-single-02"></i>
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Profile</span>
                  </a>
            </li>

            </ul>
</div>

<div class="mx-4 mt-5">
      <p
            class="invisible hidden text-gray-800 text-red-500 text-red-600 text-blue-500 dark:bg-white bg-slate-500 bg-gray-500/30 bg-cyan-500/30 bg-emerald-500/30 bg-orange-500/30 bg-red-500/30 after:bg-gradient-to-tl after:from-zinc-800 after:to-zinc-700 dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 after:from-blue-700 after:to-cyan-500 after:from-orange-500 after:to-yellow-500 after:from-green-600 after:to-lime-400 after:from-red-600 after:to-orange-600 after:from-slate-600 after:to-slate-300 text-emerald-500 text-cyan-500 text-slate-400">
      </p>


      <!-- pro btn  -->
      <a class="inline-block w-full px-8 py-2 text-xs font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-blue-500 border-0 rounded-lg shadow-md select-none bg-150 bg-x-25 hover:shadow-xs hover:-translate-y-px"
            href="/admin/logout" target="_blank">Logout</a>
</div>
</aside>

</div>